<mat-sidenav-container fullscreen>
  <mat-toolbar color="primary">
    <button mat-button (click)="sidenav.toggle()">
              <mat-icon>menu</mat-icon>
          </button> {{title}}
    <!-- This fills the remaining space of the current row -->
    <span class="fill-remaining-space"></span>
    <div fxLayout="row" fxShow="false" fxShow.gt-sm>
      <a href="https://alborghetti.github.io/ABAPFire"><button mat-button color="accent"><mat-icon>favorite</mat-icon> ABAPFire</button></a>
    </div>
    <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-toolbar>
  <mat-menu x-position="before" #menu="matMenu">
    <a href="https://alborghetti.github.io/ABAPFire"><button mat-button color="accent"><mat-icon>favorite</mat-icon> ABAPFire</button></a>
  </mat-menu>
  <mat-sidenav #sidenav mode="side" opened="false">
    <div class="example-container">
      <div class="example-header">
        <mat-form-field floatPlaceholder="never">
          <input matInput #filter placeholder="Filter flights">
        </mat-form-field>
      </div>
      <mat-nav-list>
        <h3 matSubheader>Flights</h3>
        <mat-list-item *ngFor="let flight of flights | async" (click)="listItemClick(flight)">
          <mat-icon mat-list-icon>flight_takeoff</mat-icon>
          <h4 matLine>{{flight.carrid}} - {{flight.connid}}</h4>
          <p matLine> {{flight.fldate | date}} </p>
        </mat-list-item>
      </mat-nav-list>
    </div>
  </mat-sidenav>

  <mat-grid-list cols="4" rowHeight="100%">
    <mat-grid-tile [colspan]="4" [rowspan]="1">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>{{selectedFlight.carrid}} - {{selectedFlight.connid}}</mat-card-title>
          <mat-card-subtitle>Flight date: {{selectedFlight.fldate | date}}</mat-card-subtitle>
          <mat-card-subtitle>Departure time: {{selectedFlight.deptime}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/img/{{selectedFlight.planetype}}.jpg">
        <mat-card-content>
          <p>
            Plan type: {{selectedFlight.planetype}}
          </p>
          <p>Departure Airport: {{selectedFlight.cityfrom}} / {{selectedFlight.airpfrom}}
          </p>
          <p>Arrival Airport: {{selectedFlight.cityto}} / {{selectedFlight.airpto}}
            </p>
        </mat-card-content>
        <mat-card-actions>
          <div fxFlex></div>
          <button mat-button (click)="openDialog()"><mat-icon>person_add</mat-icon> BOOK</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</mat-sidenav-container>